@font-face {
  font-family: Netflix-Sans;
  src: url("/fonts/NetflixSans-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: Netflix-Sans;
  src: url("/fonts/NetflixSans-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: Netflix-Sans;
  src: url("/fonts/NetflixSans-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: Netflix-Sans;
  src: url("/fonts/NetflixSans-Light.otf");
  font-weight: 300;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}
